# VS Code
.vscode/

# Protein files
*.pdb
*.fasta
*.aln  # Multiple Sequence Alignment (MSA) files

# Data directories
antibody_database/
trained_models/

# Etc.
*.p
*.swp
*.csv
*.tsv
*.txt
*.zip
*.h5
*.pyc
*.png
.ipynb_checkpoints/
trained_models/
ROSETTA_CRASH.log
output_dir/
scripts/
temp/
.DS_Store
venv/
pred*/